[submodule "Libraries/SDL"]
	path = Libraries/SDL
	url = git@github.com:apollovy/SDL.git
[submodule "Libraries/SDL_image"]
	path = Libraries/SDL_image
	url = git@github.com:SDL-mirror/SDL_image.git
[submodule "Libraries/SDL_ttf"]
	path = Libraries/SDL_ttf
	url = git@github.com:SDL-mirror/SDL_ttf.git
[submodule "Libraries/SDL_mixer"]
	path = Libraries/SDL_mixer
	url = git@github.com:SDL-mirror/SDL_mixer.git
