[submodule "Libraries/SDL"]
	path = Libraries/SDL
	url = git@github.com:apollovy/SDL.git
[submodule "Libraries/SDL_image"]
	path = Libraries/SDL_image
	url = git@github.com:apollovy/SDL_image.git
[submodule "Libraries/SDL_ttf"]
	path = Libraries/SDL_ttf
	url = git@github.com:apollovy/SDL_ttf.git
[submodule "Libraries/SDL_mixer"]
	path = Libraries/SDL_mixer
	url = git@github.com:apollovy/SDL_mixer.git
[submodule "Libraries/JSController"]
	path = Libraries/JSController
	url = git@github.com:jasarien/JSController.git
[submodule "Common"]
	path = Common
	url = git@github.com:apollovy/Cataclysm-DDA-iOS-commons.git
[submodule "Libraries/Cataclysm-BN"]
	path = Libraries/Cataclysm-BN
	url = git@github.com:apollovy/Cataclysm-BN.git
