<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ProductIdentifier</key>
	<string>tk.apollov.CBNfreeIAP.unlim1</string>
	<key>PrivacyPolicyURL</key>
	<string>https://www.notion.so/Yury-Apollov-privacy-policy-9309c5c38c254fcb93f595cb3b3f1217</string>
	<key>TermsURL</key>
	<string>https://www.notion.so/Yury-Apollov-privacy-policy-9309c5c38c254fcb93f595cb3b3f1217</string>
</dict>
</plist>
